.what{
    padding: 50px;

     &__hug{
        // height: 500px;

        display: flex;
        align-items: center;
        justify-content: space-between;
     }

     &__content{
        width: 500px;
        // background-color: lime;

        h2{
            font-weight: 400;
            text-align: center;
        }

        ul{
            display: flex;
            // align-items: center;
            flex-direction: column;
            gap: 15px;
            color: #242424;
        }
        a{
            color: #067A46;
            text-decoration: underline;
        }

        button{
            width: 100%;
            // height: 30px;
            padding: 12px 0;
            border: none;
            background-color: #067A46;
            color: white;
            font-size: 16px;
            border-radius: 5px;
            margin-top: 30px;
        }
     }
}