.tagPage{
    padding: 50px;
    text-align: center;

    &__title{
        color: #242424;
        font-weight: 400;
        font-size: 31px;
        line-height: 38px;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }

    &__hug{
        display: flex;
        align-items: center;
        gap: 50px;
        margin-top: 50px;
    }

    .tagCard{
        max-width: 265px;
        min-height: 520px;
        text-align: center;

        h3{
            margin: 15px 0;
        }
    }
}